<% form_for :game_player do |f| %>
  <table>
    <%= f.hidden_field :game_id %>
    <tr>
      <th>Game Date</th>
      <td><%= @game.game_date %></td>
    </tr>
    <tr>
      <th>Game Status</th>
      <td><%= @game.game_status.description %></td>
    </tr>
    <tr>
      <th>Number Playing</th>
      <td><%= @game.number_playing %></td>
    </tr>
    <tr>
      <th>Email Address</th>
      <td><%= text_field_with_auto_complete :game_player, :email_address, {}, {:url => {:controller => :player, :action => :lookup, :format => :js}, :method => :get, :with => "'search=' + element.value"} %></td>
    </tr>
    <tr>
      <th>Player Status</th>
      <td><%= f.collection_select :player_status_id, @player_statuses, :id, :description %></td>
    </tr>
  </table>
  <%= submit_tag %>
  <%= error_messages_for :game_player %>
<% end %>