<%= content_tag :h1, 'Equipment' %>

<%= simple_form_for @equipment, :html => { :novalidate => true } do |f| %>
  <%= error_messages_for 'equipment' %>
  <%= f.input :description %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', equipment_index_path, :class => 'btn' %>
  </div>
<% end %>
