<%= content_tag :h1, 'Game' %>

<%= simple_form_for @game, :html => { :novalidate => true } do|f| %>
  <%= error_messages_for 'game' %>
  <div class='row'>
    <div class='span3'>
      <%= f.input :game_date, :as => :string, :input_html => { :class => 'datepicker' } %>
      <%= f.input :current_state, :collection => @game_statuses, :include_blank => false %>
    </div>
    <div class='span3'>
      <%= f.input :organizer_address, :label => 'Organizer Email' %>
      <%= f.input :organizer, :label => 'Organizer Name' %>
    </div>
    <div class='span3'>
      <%= f.input :message, :input_html => {:rows => 4, :cols => 80} %>
    </div>
  </div>
  
  <hr>
  <div class='row'>
    <%= render :partial => 'game_player_table', :locals => { :section => 'Playing', :game_players => @game.game_players.select{ |gp| gp.playing? }, :f => f } %>
    <%= render :partial => 'game_player_table', :locals => { :section => 'No Response', :game_players => @game.game_players.select{ |gp| gp.no_response? }, :f => f } %>
    <%= render :partial => 'game_player_table', :locals => { :section => 'Not Playing', :game_players => @game.game_players.select{ |gp| gp.not_playing? }, :f => f } %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', games_path, :class => 'btn' %>
  </div>
<% end %>
