<div class='span3'>
  <%= content_tag :h5, section %>
  <table id="game_players" class='table table-striped table-condensed table-bordered'>
    <tbody>
        <%= f.fields_for :game_players, game_players.sort do |gp_form| %>
        <% game_player = gp_form.object %>
        <tr>
          <td style='text-align:center'><%= gp_form.check_box(:goalie, :checked => game_player.goalie? ? 'checked' : '') %></td>    
          <td>
            <%= gp_form.hidden_field :player_id %>
            <%= gp_form.hidden_field :id %>
            <%= game_player.player.name %>
          </td>
          <td>
            <%= gp_form.hidden_field :current_state %>
            <%= render :partial => 'game_player', :locals => {:game_player => game_player } %>
            <br>
            <%= gp_form.select(:equipment_id, options_from_collection_for_select(@equipment, :id, :description, game_player.equipment_id), { :allow_blank => true }) if game_player.playing? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>