<tr>
  <td><%= link_to game.game_date, game %></td>
  <td align="center"><%= game.number_playing %></td>
  <td><%= game.friendly_state %></td>
  <td><%= game.goalies %></td>
  <td>
    <%= link_to 'Edit', edit_game_path(game), :class => 'btn btn-mini' %>
    <% if game.can_delete? %>
      <%= link_to 'Delete',game_path(game), :method => :delete, :confirm => 'Do you really want to delete this game?', :class => 'btn btn-mini btn-danger' %>
    <% end %>
  </td>
</tr>