<tr>
  <td><%= link_to game.game_date, game %></td>
  <td style='text-align:center'><%= game.number_playing %></td>
  <%= content_tag :td, "<span class='label label-#{game.bs_state}'>#{game.friendly_state}</span>".html_safe, :style => 'text-align:center' %>
  <td><%= game.goalies %></td>
  <td>
    <%= link_to 'Edit', edit_game_path(game), :class => 'btn btn-mini' %>
    <% if game.can_delete? %>
      <%= link_to 'Delete',game_path(game), :method => :delete, :confirm => 'Do you really want to delete this game?', :class => 'btn btn-mini btn-danger' %>
    <% end %>
  </td>
</tr>