<%= content_for :javascript_includes do %>
  <script type="text/javascript">
  $(function() {
    $('#game_player_email_address').autocomplete({
      source: '/players/search',
      select: function(event, ui) {
        $(this).val(ui.item.value);
        $('#game_player_player_id').val(ui.item.id);
        return false;
      }
    });
    
    $('.icon-clickable').on('click touchstart', function(target) {
      var email_address = $('#game_player_email_address').val();
      var player_id = $('#game_player_player_id').val();
      
      if(email_address.length < 5) {
        alert('You must enter a valid email address');
        $('.icon-clickable').removeClass('selected');
        return;
      }
      
      if(player_id == null) {
        alert('Your address was not found. Please enter a valid email address/name.');
        $('.icon-clickable').removeClass('selected');
        return;
      }      

      $('form').submit();
    });
  });
  </script>
<% end %>

<%= simple_form_for @game_player, :url => update_player_status_game_path do |f| %>
  <%= error_messages_for :game_player %>  
  <%= f.hidden_field :game_id %>
  <%= f.input :email_address, label: 'Name or email', input_html: { autofocus: true, placeholder: 'Search by name or email' } %>
  <span>
    <%= f.hidden_field :current_state %>
    <%= render :partial => 'game_player', :locals => { :game_player => @game_player } %>
  </span>
  <%= f.hidden_field :player_id %>
<% end %>