<tr>
  <td><%= player_summary.name %></td>
  <td align="center"><%= player_summary.times_played %></td>
  <td><%= player_summary.last_played %></td>
  <td align="center"><%= player_summary.times_played_goalie %></td>
  <td><%= player_summary.last_played_goalie %></td>
</tr>