<h1>NRCan Ball Hockey</h1>
<p><%= link_to('Login', login_path) unless admin? %></p>
<p><%= link_to('Logout', logout_path) if admin? %></p>
<br/>
<p><%= link_to("Today's Game", :controller => :game, :action => 'current') %></p>
<p><%= link_to('Players', :controller => :player, :action => 'index') if admin? %></p>
<p><%= link_to('Games', :controller => :game, :action => 'index') if admin? %></p>
<p><%= link_to('Equipment', :controller => :equipment, :action => 'index')  if admin? %></p>
<p><%= link_to('Player Summary', :controller => :player, :action => 'player_summary') %></p>
<p><%= link_to('Goalies on Deck', :controller => :player, :action => 'goalies_on_deck') %></p>
<br/>
<p>
  <%= link_nav("<li>" + link_to('New Player', {:controller => :player, :action => 'new'}) + "</li>")  if admin? %>
  <%= link_nav("<li>" + link_to('New Game', {:controller => :game, :action => 'new'}) + "</li>")  if admin? %>
  <%= link_nav("<li>" + link_to('New Equipment', {:controller => :equipment, :action => 'new'}) + "</li>")  if admin? %>
</p>