<!DOCTYPE html>
<html>
<head>
  <title>NRCan Ball Hockey</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js' %>
  <%= javascript_include_tag 'rails' %>

  <%= csrf_meta_tag %>
</head>
<body>
  <div id="content">
    <div id="contentpane">
    	<% unless flash[:notice].blank? %>
    		<div id="notification"><%= flash[:notice] %></div>
    	<% end %>		
    	<%= yield %>
    </div>
  </div>
</body>
</html>
